<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-4 text-center">
        <h2 th:text ="#{label.main}">게시판</h2>
    </div>
    <h4 class="mb-3" th:text="|${memberDto.nickName}님. 안녕하세요!|">안녕하세요!</h4>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="btn btn-outline-danger"
                    onclick="location.href='login.html'" th:text = "#{button.logout}"
                    th:onclick="|location.href= '@{/logout}'|" type="button">로그아웃</button>
        </div>
        <div class="col">
            <button class="btn btn-outline-primary float-end"
                    onclick="location.href='addPost.html'" th:text = "#{button.write}"
                    th:onclick="|location.href= '@{/addPost}'|" type="button">게시물 등록</button>
        </div>
    </div>
    <div>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th th:text = "#{label.no}">게시번호</th>
                <th th:text = "#{label.title}">제목</th>
                <th th:text = "#{label.writer}">작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">
                <td><a th:text="${post.postId}">1</a></td>
                <td><a href="post.html" th:href="@{|/post/${post.postId}|}" th:text="${post.title}">첫번째 게시물</a></td>
                <td th:text="${post.writer}">cpu500m</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr class="my-4">
</div> <!-- /container -->
</body>
</html>